process-sb-messages-using-logic-app/src/deployment/deployApp/logicApp/azuredeploy.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01-preview/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "solutionName": {
            "type": "String"
        },
        "location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "Location for all resources"
            }
        },
        "servicebus_1_connectionString": {
            "type": "securestring",
            "metadata": {
                "description": "Azure Service Bus Connection String"
            }
        }
    },
    "variables": {
        "suffix": "[uniqueString(resourceGroup().id)]",
        "genericResourceName": "[concat(parameters('solutionName'),'-', variables('suffix'))]",
        "sb_1_Connection_Name": "[concat('ServiceBusConnection', variables('suffix'))]",
        "logicApp1Name": "[concat('logicapp', variables('suffix'))]",
        "functionAppId": "[resourceId('Microsoft.Web/sites', variables('genericResourceName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('sb_1_Connection_Name')]",
            "tags": {
                "displayName": "Logic App Service Bus Connector"
            },
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "SBConnection1",
                "api": {
                    "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/', 'servicebus')]"
                },
                "parameterValues": {
                    "connectionString": "[parameters('servicebus_1_connectionString')]"
                }
            }
        },
        {
            "name": "[variables('logicApp1Name')]",
            "type": "Microsoft.Logic/workflows",
            "location": "[parameters('location')]",
            "tags": {
                "displayName": "Logic App"
            },
            "apiVersion": "2016-06-01",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('sb_1_Connection_Name'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "Abandon_the_message_in_a_queue": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['servicebus_1']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/@{encodeURIComponent(encodeURIComponent('inqueue'))}/messages/abandon",
                                "queries": {
                                    "lockToken": "@triggerBody()?['LockToken']",
                                    "queueType": "Main",
                                    "sessionId": ""
                                }
                            },
                            "runAfter": {
                                "Scope": [
                                    "Failed",
                                    "TimedOut"
                                ]
                            }
                        },
                        "Complete_the_message_in_a_queue": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['servicebus_1']['connectionId']"
                                    }
                                },
                                "method": "delete",
                                "path": "/@{encodeURIComponent(encodeURIComponent('inqueue'))}/messages/complete",
                                "queries": {
                                    "lockToken": "@triggerBody()?['LockToken']",
                                    "queueType": "Main",
                                    "sessionId": ""
                                }
                            },
                            "runAfter": {
                                "Scope": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Parse_JSON": {
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@json(base64ToString(triggerBody()?['ContentData']))",
                                "schema": {
                                    "properties": {
                                        "CreatedDate": {
                                            "type": "string"
                                        },
                                        "Description": {
                                            "type": "string"
                                        },
                                        "Id": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "runAfter": {
                            }
                        },
                        "Scope": {
                            "type": "Scope",
                            "actions": {
                                "WriteToDataLake": {
                                    "type": "Function",
                                    "inputs": {
                                        "body": "@body('Parse_JSON')",
                                        "method": "POST",
                                        "function": {
                                            "id": "[concat(variables('functionAppId'), '/functions/WriteToDataLake')]"
                                        }
                                    },
                                    "runAfter": {
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            }
                        }
                    },
                    "parameters": {
                        "$connections": {
                            "defaultValue": {
                            },
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_one_or_more_messages_arrive_in_a_queue_(peek-lock)": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['servicebus_1']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/@{encodeURIComponent(encodeURIComponent('inqueue'))}/messages/batch/head/peek",
                                "queries": {
                                    "maxMessageCount": 175,
                                    "queueType": "Main",
                                    "sessionId": "None"
                                }
                            },
                            "recurrence": {
                                "frequency": "Hour",
                                "interval": 1
                            },
                            "splitOn": "@triggerBody()"
                        }
                    },
                    "contentVersion": "1.0.0.0",
                    "outputs": {
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "servicebus_1": {
                                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/', 'servicebus')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('sb_1_Connection_Name'))]",
                                "connectionName": "[variables('sb_1_Connection_Name')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}